.container-fluid {
    display: relative;
    app-sidebar {
        .tutees-display {
            display: flex;
        }
        .online-users-display {
            display: flex;
        }
    }
    .whiteboard-container {
        app-whiteboard{
            width: 100%;
            padding: 1em;
        }
    }
    .permissions-button {
        display: block;
        margin: 0 auto;
    }
}