.session-title-container {
    padding: 1.5em 0.75em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .session-tags {
        align-self: flex-end;
        flex-grow: 1;
        .mdl-chip {
            display: inline-block;
            margin-left: 10px;
        }
    }
    .session-subtitle {
        align-self: flex-end;
        max-width: 400px;
    }
}

.session-info-container {
    padding: 0.5em;
    .session-snapshots {
        display: flex;
        overflow-x: scroll;
        img {
            border: 3px solid rgb(255,152,0);
        }
    }
}

.session-comments-container {
    .mdl-card__title {
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;
    }
    .session-comments {
        .mdl-list__item-secondary-content {
            margin: auto;
        }
        .session-comments-item {
            margin: 0.5em;
        }
    }
}

.session-actions {
    display: flex;
}