<div class="mdl-grid" *ngIf="sessionInfo">
	<div class="session-title-container mdl-cell--12-col">
		<h2 class="session-title">{{ sessionInfo.title }}
			<span class="mdl-chip" *ngFor="let tag of sessionInfo.tags">
				<span class="mdl-chip__text">{{ tag }}</span>
			</span>
		</h2>
		<h4 class="session-subtitle">{{ sessionInfo.description }}</h4>
	</div>
</div>
<div class="mdl-grid" *ngIf="sessionInfo">
	<div class="mdl-cell mdl-cell--8-col">
		<div class="session-snapshots">
			<img *ngFor="let wb of sessionInfo.whiteboards" [src]="wb.snapshot">
		</div>
	</div>
	<div class="mdl-cell mdl-cell--4-col">
		<div class="session-comments" *ngIf="sessionInfo">
			<app-session-rating *ngIf="canRate"></app-session-rating>
			<ul class="demo-list-three mdl-list">
				<h4>Session Comments</h4>
				<li class="session-comments-item mdl-list__item mdl-list__item--three-line" *ngFor="let rating of sessionInfo.rating">
					<span class="mdl-list__item-primary-content">
						<i class="material-icons mdl-list__item-avatar" *ngIf="!rating.user.pfp">person</i>
						<img class="mdl-list__item-avatar" [src]="rating.user.pfp" *ngIf="rating.user.pfp">
						<span>{{ rating.user.name }}</span>
						<span class="mdl-list__item-text-body">
						{{ rating.comment }}
						</span>
					</span>
					<span class="mdl-list__item-secondary-content">
						<span class="mdl-list__item-secondary-action" *ngIf="rating.rating === 1"><i class="material-icons">thumb_up</i></span>
						<span class="mdl-list__item-secondary-action" *ngIf="rating.rating === 0">~</span>
						<span class="mdl-list__item-secondary-action" *ngIf="rating.rating === -1"><i class="material-icons">thumb_down</i></span>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>