<div class="mdl-grid">
	<div class="session-comments mdl-cell mdl-cell--8-col" *ngIf="sessionInfo">
		<app-session-rating *ngIf="canRate"></app-session-rating>
		<ul class="demo-list-three mdl-list">
			<h2>Session Comments</h2>
			<li class="session-comments-item mdl-list__item mdl-list__item--three-line" *ngFor="let rating of sessionInfo.rating">
				<span class="mdl-list__item-primary-content">
					<i class="material-icons mdl-list__item-avatar" *ngIf="!rating.user.pfp">person</i>
					<img class="mdl-list__item-avatar" [src]="rating.user.pfp" *ngIf="rating.user.pfp">
					<span>{{ rating.user.name }}</span>
					<span class="mdl-list__item-text-body">
					{{ rating.comment }}
					</span>
				</span>
				<span class="mdl-list__item-secondary-content">
					<span class="mdl-list__item-secondary-action" *ngIf="rating.rating === 1"><i class="material-icons">thumb_up</i></span>
					<span class="mdl-list__item-secondary-action" *ngIf="rating.rating === 0">~</span>
					<span class="mdl-list__item-secondary-action" *ngIf="rating.rating === -1"><i class="material-icons">thumb_down</i></span>
				</span>
			</li>
		</ul>
	</div>
</div>