<div class="container-fluid">
	<h3>{{ viewDate | date }}</h3>
	<div class="btn-group">
		<h6>Navigation</h6>
		<button (click)="lastMonth()" class="btn btn-default mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Last Month</button>
		<button (click)="nextMonth()" class="btn btn-default mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Next Month</button>
	</div>
	<div class="btn-group">
		<h6>Calendar View</h6>
		<button class="btn btn-primary mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="view = 'month'" [class.active]="view === 'month'">Month</button>
		<button class="btn btn-primary mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="view = 'week'" [class.active]="view === 'week'">Week</button>
		<button class="btn btn-primary mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="view = 'day'" [class.active]="view === 'day'">Day</button>
		<h6></h6>
	</div>

	<div [ngSwitch]="view">
		<mwl-calendar-month-view
			*ngSwitchCase="'month'"
			[viewDate]="viewDate"
			[events]="events"
			[refresh]="refresh"
			[activeDayIsOpen]="activeDayIsOpen"
			(dayClicked)="onDayClick($event.day)">
		</mwl-calendar-month-view>
		<mwl-calendar-week-view
			*ngSwitchCase="'week'"
			[viewDate]="viewDate"
			[events]="events"
			[refresh]="refresh"
			(eventTimesChanged)="onEventTimesChange($event)">
		</mwl-calendar-week-view>
		<mwl-calendar-day-view
			*ngSwitchCase="'day'"
			[viewDate]="viewDate"
			[events]="events"
			[refresh]="refresh"
			(eventTimesChanged)="eventTimesChanged($event)">
		</mwl-calendar-day-view>
	</div>
</div>
