<div class="container-fluid">
  <h2>{{ viewDate | date }}</h2>
  <div class="btn-group">
    <button (click)="lastMonth()" class="btn btn-default">Last Month</button>
    <button (click)="nextMonth()" class="btn btn-default">Next Month</button>
  </div>
  <div class="btn-group">
    <div class="btn btn-primary" (click)="view = 'month'" [class.active]="view === 'month'">Month</div>
    <div class="btn btn-primary" (click)="view = 'week'" [class.active]="view === 'week'">Week</div>
    <div class="btn btn-primary" (click)="view = 'day'" [class.active]="view === 'day'">Day</div>
  </div>

  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="onDayClick($event.day)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventTimesChanged)="onEventTimesChange($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>
</div>