.user-pfp {
	width: 100%;
}

.user-info-container {
	.user-info {
		width: 100%;
		margin-bottom: 1em;
		.big-number {
			font-size: 2.5em;
			color: rgb(255,152,0);
		}
		.user-rating {
			display: block;
			margin: 0 auto;
			padding-bottom: 0;
		}
		.username {
			display: block;
			margin: 0 auto;
			padding-bottom: 0;
		}
	}
}

.user-sessions-container {
	border-top: 1px grey solid;
}
