<div class="mdl-grid" *ngIf="userInfo">
	<div class="user-pfp-container mdl-cell mdl-cell--4-col">
		<div class="user-pfp mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title" *ngIf="userInfo.pfp" [style.background-image]="'url(' + userInfo.pfp + ')'">
			</div>
			<div class="mdl-card__title" *ngIf="!userInfo.pfp" [style.background-image]="'url(../../assets/user_placeholder.svg)'"></div>
			<div class="mdl-card__actions mdl-card--border">
				<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
				Get Started
				</a>
			</div>
		</div>
	</div>
	<div class="user-info-container mdl-cell mdl-cell--8-col">
		<div class="user-info mdl-card mdl-shadow--2dp">
			<div class="username mdl-card__title">
				<h2>{{ userInfo.name }}</h2>
			</div>
			<div class="mdl-card__supporting-text mdl-grid">
				<h4 class="mdl-cell mdl-cell--6-col"><span class="big-number">{{ userInfo.tutorSessions? userInfo.tutorSessions.length : 0 }} </span>sessions tutored</h4>
				<h4 class="mdl-cell mdl-cell--6-col"><span class="big-number">{{ userInfo.tuteeSessions? userInfo.tuteeSessions.length : 0 }} </span>sessions participated</h4>
			</div>
			<div class="mdl-card__supporting-text mdl-grid">
				<div class="mdl-cell mdl-cell--4-col">
					<h5>Email</h5>{{ userInfo.email }}
				</div>
				<div class="mdl-cell mdl-cell--4-col">
					<h5>Grade</h5>{{ userInfo.grade }}
				</div>
				<div class="mdl-cell mdl-cell--4-col">
					<h5>Time since register</h5>{{ userInfo.registerTime.toNow(true) }}
				</div>
			</div>
		</div>
		<div class="user-info mdl-card mdl-shadow--2dp" *ngIf="tutorSessions">
			<div class="user-rating mdl-card__title">
				<h2 class="mdl-card__title-text">Average rating</h2>
				<app-rating-display [rating]="userAverageRating"></app-rating-display>
			</div>
			<div class="mdl-card__supporting-text">
				<li class="session-comments-item mdl-list__item mdl-list__item--three-line" *ngFor="let rating of userRatings">
					<span class="mdl-list__item-primary-content">
						<i class="material-icons mdl-list__item-avatar" *ngIf="!rating.user.pfp">person</i>
						<img class="mdl-list__item-avatar" [src]="rating.user.pfp" *ngIf="rating.user.pfp">
						<span>{{ rating.user.name }} ({{ rating.time.format('l') }}) on </span> <a (click)="gotoSession(rating.session.$key)">{{ rating.session.title }}</a>
						<span class="mdl-list__item-text-body">
						{{ rating.comment }}
						</span>
					</span>
					<span class="mdl-list__item-secondary-content">
						<app-rating-display [rating]="rating.rating"></app-rating-display>
					</span>
				</li>
			</div>
		</div>
	</div>
	<div class="user-sessions-container mdl-cell mdl-cell--12-col mdl-grid" *ngIf="tutorSessions">
		<h4 class="mdl-cell mdl-cell--12-col">Open Sessions</h4>
		<div class="user-session mdl-cell mdl-cell--4-col" *ngFor="let session of tutorSessions">
			<app-session-card [session]="session"></app-session-card>
		</div>
	</div>
</div>
