<div class="view-whiteboard-options">
	<h3>View Whiteboard Options</h3>
	<input [(ngModel)]="key" placeholder="Whiteboard Key">
	<label>
		<input type="checkbox" [(ngModel)]="allowWrite">
		Allow Write
	</label>
	<label>
		<input type="checkbox" [(ngModel)]="permissions.read">
		Permissions.Read
	</label>
	<label>
		<input type="checkbox" [(ngModel)]="permissions.write">
		Permissions.Write
	</label>
</div>
<app-whiteboard [key]="key" [allowWrite]="allowWrite" [permissions]="permissions"></app-whiteboard>
