$sophisticated-white: #eee;

.session-card {
	width: 100%;

	.mdl-card__title {
		position: relative;

		h4 {
			margin-top: 0;
			z-index: 5;
		}

		a {
			color: mix(#000, rgb(68,138,255));
			cursor: pointer;
		}

		&.pending-user-image {
			&:after {
				content: ' ';
				background: rgba(0, 0, 0, 0.5);

				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			h4 {
				color: $sophisticated-white;
			}

			a {
				color: mix($sophisticated-white, rgb(68,138,255));
			}
		}
	}

	.mdl-card__supporting-text {
		width: 100%;
	}

	.mdl-card__actions {
		display: flex;
		align-items: center;

		* {
			margin-right: 1rem;
		}
	}

	// Default to miscellaneous color
	> *:not(.mdl-card__actions) {
		background: #607d8b;
	}

	&.session-card--english > *:not(.mdl-card__actions) {
		background: #3f51b5;
		color: $sophisticated-white;

		a {
			color: mix($sophisticated-white, rgb(68,138,255));
		}
	}

	&.session-card--history > *:not(.mdl-card__actions) {
		background: #2196f3;
	}

	&.session-card--math > *:not(.mdl-card__actions) {
		background: #4caf50;
	}

	&.session-card--science > *:not(.mdl-card__actions) {
		background: #ffc107;
	}

	&.session-card--world-language > *:not(.mdl-card__actions) {
		background: #f44336;
	}
}
