<ol class="message-block">
	<div class="message-list" *ngFor="let message of allMessages">
		<li><p>From {{ message.from.name ? message.from.name : (message.from.email ? message.from.email : 'an anonymous user') }}: {{ message.text }}</p></li>
	</div>
	<!-- TODO: Maybe put a Bootstrap divider here or something? -->
</ol>
<form #msgForm (submit)="send(message.value); msgForm.reset()">
	<input #message placeholder="type your message here!" required>
	<button type="button" class="btn btn-primary">Send</button>
</form>