<ol class="chat-block">
	<div class="chat-list" *ngFor="let entry of allEntries">
		<div *ngIf="isMessage(entry)">
			<li class="message">From {{ entry.from | name }}: {{ entry.text }}</li>
		</div>
		<div *ngIf="isStatus(entry)">
			<li class="status">{{ entry.user | name:true }} {{ statusVerb(entry) }} the chat room</li>
		</div>
	</div>
	<!-- TODO: Maybe put a Bootstrap divider here or something? -->
</ol>
<form #msgForm (submit)="send(msgBox.value); msgForm.reset()">
	<input #msgBox placeholder="type your message here!" required>
	<button type="button" class="btn btn-primary">Send</button>
</form>
