.chat-block {
	/*
	 * This removes the bullets and indentation from the list elements.
	 * Effectively, it makes the <ol> element purely markup.
	 */
	list-style: none;
	padding: 0;
	margin: 0;

	.chat-list {
		.status {
			color: #777;
		}
	}

	.chat-error {
		color: #e33;
	}
}
