.search-bar {
	padding: 0 1rem;

	form {
		margin: 0 auto;

		.mdl-textfield {
			vertical-align: middle;
		}
	}
}

#lbel {
	color: rgba(0,0,0,0.5);
}
#searchrr {
	width: 80%;
	margin-left: 10%;
	margin-top: 3%;
}