<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" routerLink="/session/create">Create a Session</button>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" routerLink="/my-sessions">Go to my scheudle</button>

<div class="search-bar">
	<div class="mdl-grid mdl-shadow--4dp">
		<div class="mdl-cell mdl-cell--4-col">
			<h2>Search</h2>
		</div>

		<form class="mdl-cell mdl-cell--8-col" (keyup)="findSessions()">
			<div class="mdl-textfield mdl-js-textfield ">
				<input class="mdl-textfield__input" id="search-input" name="searchStr" [(ngModel)]="searchStr">
			</div>
			<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
				<i class="material-icons">search</i>
			</button>
		</form>
	</div>
</div>

<app-sessions-with-filter [sessions]="searchResults"></app-sessions-with-filter>
