<h2> Sort By </h2>
<div class="session-display">
	<div *ngFor="let session of publicSessions">
		<app-display-session [session]="session"></app-display-session>
	</div>
</div>

<div class="search-bar">
	<div class="search-input" *ngIf="searchOpt !== 'all'">
		<form (submit)="findSessionsByProperty(searchOpt)">
			<fieldset>
				<input name="searchStr" [(ngModel)]="searchStr">
				<button type="submit">Find</button>
			</fieldset>
		</form>
	</div>

	<button class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="searchOpt = 'all'">All</button>
	<button class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="searchOpt = 'tags'">Tag</button>
	<button class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="searchOpt = 'subject'">Subject</button>
	<button class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="searchOpt = 'classStr'">Class name</button>
	<button class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="searchOpt = 'grade'">Grade</button>
</div>

<app-sessions-with-filter [sessions]="searchResults"></app-sessions-with-filter>

<a routerLink="create">Create a Session</a>
<a routerLink="my-schedule">Go to my scheudle</a>