.card {
	width: 16em;
	height: 4em;
	display: flex;
	overflow: hidden;
	img {
		border-radius: 50%;
		width: 4em;
		height: 4em;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
	}
	margin: 1em;
	.card-block {
		svg {
			align-self: center;
			width: 7em;
			margin-right: -5em;
		}
		.card-title {
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
	.user-name {
		flex-grow: 2;
		z-index: 100;
	}
	.user-status {
		flex-grow: 1;
		position: absolute;
		top: -2.75em;
		right: 0px;
	}
}