.card {
	width: 16em;
	height: 4em;
	display: flex;
	img {
		border-radius: 50%;
		width: 4em;
		height: 4em;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
	}
	margin: 1em;
}