@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qhtvw4');
  src:  url('fonts/icomoon.eot?qhtvw4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qhtvw4') format('truetype'),
    url('fonts/icomoon.woff?qhtvw4') format('woff'),
    url('fonts/icomoon.svg?qhtvw4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-file-text2:before {
  content: "\e926";
}
.icomoon-calculator:before {
  content: "\e940";
}
.icomoon-history:before {
  content: "\e94d";
}
.icomoon-rocket:before {
  content: "\e9a5";
}
.icomoon-lab:before {
  content: "\e9aa";
}
.icomoon-earth:before {
  content: "\e9ca";
}

