$icomoon-font-path: "fonts" !default;

$icomoon-file-text2: "\e926";
$icomoon-calculator: "\e940";
$icomoon-history: "\e94d";
$icomoon-rocket: "\e9a5";
$icomoon-lab: "\e9aa";
$icomoon-earth: "\e9ca";

