[appSidebarContent] {
    padding-left: 0.5em;
    width: 30em;
    height: 100%;
    position: fixed;
    left: -30.5em;
    transition: left 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: 100;
    background: white;
    &.open {
        left: 0;
    }
}

.toggle-button {
    position: absolute;
    top: 50%;
    left: 1em;
    z-index: 100;
}