$sophisticated-white: #eee;

:host {
	position: relative;
	display: inline-block;
}

.whiteboard-name {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 2em;
}

.tool-selection {
	position: absolute;;
	top: 2.5rem;
	left: 2.5rem;

	width: 5rem;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	border-radius: 0.25rem;

	button {
		color: $sophisticated-white;
	}
}

.toolbar {
	position: absolute;
	top: 2.5rem;
	left: 2.5rem + 5rem + 2.5rem;

	display: flex;
	padding: 0.5rem;

	color: $sophisticated-white;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 0.25rem;

	&:empty {
		display: none;
	}

	.toolbar-option {
		display: flex;
		flex-direction: column;
		justify-content: space-between;;
		align-items: center;

		padding: 0 0.5rem;

		border-left: 1px solid rgba($sophisticated-white, 0.5);

		&:first-child {
			border-left: none;
		}

		.color {
			height: 2rem;
			width: 2rem;

			border: 1px solid rgba(0, 0, 0, 0.5);
			border-radius: 0.5rem;
		}

		.range {
			width: 100%;
			margin: 0;
			padding: 0;
		}

		.number {
			max-width: 2.5rem;
			margin-left: 0.5rem;
		}
	}
}

canvas {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.invalid-key,
.taking-snapshot,
.upload-file {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -10;

	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;

	background-color: rgba(0, 0, 0, 0.8);

	&.show {
		opacity: 1;
		z-index: 10;
	}

	h1 {
		color: $sophisticated-white;
	}
}

.upload-file {
	.upload-file-square {
		padding: 2.5rem;
		border: 2px $sophisticated-white dashed;
	}

	input {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}
