<!-- Perspective Label -->
<div class="perspective-label" *ngIf="label && label.length > 0">
	<h3>{{ label }}</h3>
</div>

<div appMdl class="layout mdl-layout mdl-js-layout mdl-layout--fixed-header" [class.mdl-layout--fixed-drawer]="allowSidebar()">
	<header class="layout-header mdl-layout__header mdl-color--grey-100">
		<div class="header-row mdl-layout__header-row">
			<span class="mdl-layout-title">Pear Tutoring</span>
			<!-- <div class="header-search mdl-textfield mdl-js-textfield mdl-textfield--expandable">
				<label class="mdl-button mdl-js-button mdl-button--icon" for="search">
					<i class="material-icons">search</i>
				</label>
				<div class="mdl-textfield__expandable-holder">
					<input class="mdl-textfield__input" type="text" id="search">
					<label class="mdl-textfield__label" for="search">Find a Tutoring Session...</label>
				</div>
			</div> -->
			<div class="mdl-layout-spacer"></div>
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary mdl-js-ripple-effect" routerLink="/whiteboard">
				<i class="material-icons">create</i>
				Create a Whiteboard
			</button>
		</div>
	</header>
	<div *ngIf="allowSidebar()" class="drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">

		<header class="drawer-header">

			<ng-container *ngIf="authInfo">
				<img *ngIf="user?.pfp" [src]="user.pfp" class="profile-pic">
				<span>{{ authInfo.auth.email }}</span>
				<div class="mdl-layout-spacer"></div>
				<button class="logout mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect"
					(click)="logout()">
					Logout
				</button>
			</ng-container>

			<ng-container *ngIf="!authInfo">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect"
					routerLink="/login">
					Login
				</button>
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary mdl-js-ripple-effect"
					routerLink="/register">
					Register
				</button>
			</ng-container>
		</header>
		<nav class="navigation mdl-navigation mdl-color--blue-grey-800">
			<a class="mdl-navigation__link" routerLink="/home" routerLinkActive="active">
				<i class="material-icons" role="presentation">home</i>
				Home
			</a>
			<a class="mdl-navigation__link" routerLink="/dashboard" routerLinkActive="active">
				<i class="material-icons" role="presentation">dashboard</i>
				Dashboard
			</a>
			<a class="mdl-navigation__link" routerLink="/my-sessions" routerLinkActive="active">
				<i class="material-icons" role="presentation">schedule</i>
				My Sessions
			</a>
			<a class="mdl-navigation__link" routerLink="/search" routerLinkActive="active">
				<i class="material-icons" role="presentation">search</i>
				Find a Session
			</a>
			<a class="mdl-navigation__link" routerLink="/settings" routerLinkActive="active">
				<i class="material-icons" role="presentation">settings</i>
				Settings
			</a>
		</nav>
	</div>
	<main class="mdl-layout__content mdl-color--grey-100">
		<div class="page-content">
			<router-outlet></router-outlet>
		</div>
	</main>
</div>
