$fruity-cream: #FFFB9B;
$fruity-orange: #FFC042;
$fruity-mint: #85FF9E;
$fruity-kiwi: #86F243;
$fruity-rose: #F05D5E;
$fruity-sunset: #FF5C5C;
$fruity-blue: #05999B;
$fruity-navy: #005377;
$fruity-violet: #7456CF;
$fruity-grape: #D880FF;

$theme_blue: rgb(33,150,243);
$theme_orange: rgb(255,171,64);
