@import '../../shared/styles/_colors.scss';

h1 {
    text-align: center;
}

.mdl-tabs {
    .mdl-tabs__panel {
        .session-display {
            display: flex;
            flex-wrap: wrap;
            padding: 1em;
            .session-display-item {
                margin: 1em;
            }
        }
    }
}