$sophisticated-white: #eee;

.session-card {
	width: 100%;
	margin-bottom: 2rem;

	&.current-session {
		margin: 1rem;
		width: calc(100% - 2rem);
	}

	&.session-card--english > *:not(.mdl-card__actions) {
		background: #3f51b5;
		color: $sophisticated-white;
	}

	&.session-card--history > *:not(.mdl-card__actions) {
		background: #2196f3;
	}

	&.session-card--math > *:not(.mdl-card__actions) {
		background: #4caf50;
	}

	&.session-card--science > *:not(.mdl-card__actions) {
		background: #ffc107;
	}

	&.session-card--world-language > *:not(.mdl-card__actions) {
		background: #f44336;
	}

	&.session-card--other > *:not(.mdl-card__actions) {
		background: #607d8b;
	}

	.mdl-card__actions {
		display: flex;
		align-items: center;

		* {
			margin-right: 1rem;
		}
	}

	.mdl-card__supporting-text {
		width: 100%;
	}
}

.mdl-grid {
	.mdl-cell {

		h1 {
			display: flex;
			justify-content: space-between;
		}

		.session-card .mdl-card__title {
			h1, h4 {
				margin-top: 0;
			}
		}
	}
}

@media (min-width: 480px) {

	.current-session {
		width: calc(100% - 6.5rem);
	}

	.mdl-grid .mdl-cell {
		padding-right: 4.5rem;
	}
}
