
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--4-col">
		<h1>Upcoming Sessions <button routerLink="/my-sessions" class="mdl-button mdl-js-button mdl-js-ripple-effect">My Sessions</button></h1>
		<div class="session-card mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title mdl-card--expand">
				<h4>
					Session Date
					<br>
					<small>Session Time</small>
				</h4>
			</div>
			<div class="mdl-card__supporting-text">
				Session Description Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Mauris sagittis pellentesque lacus eleifend lacinia...
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<a class="mdl-button mdl-button--raised mdl-button--primary mdl-js-button mdl-js-ripple-effect">
					Join Session
				</a>
				<a class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect">
					Details
				</a>
				<div class="mdl-layout-spacer"></div>
				<span class="subject-icon icomoon icomoon-lab"></span>
			</div>
		</div>
	</div>
	<div class="mdl-cell mdl-cell--4-col">
		<h1>Available Sessions <button routerLink="/search" class="mdl-button mdl-js-button mdl-js-ripple-effect">View More</button></h1>
		<div class="session-card mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title mdl-card--expand">
				<h4>
					Session Date
					<br>
					<small>Session Time</small>
				</h4>
			</div>
			<div class="mdl-card__supporting-text">
				Session Description Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Mauris sagittis pellentesque lacus eleifend lacinia...
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<a class="mdl-button mdl-button--raised mdl-button--primary mdl-js-button mdl-js-ripple-effect">
					Enroll Now
				</a>
				<a class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect">
					Details
				</a>
				<div class="mdl-layout-spacer"></div>
				<span class="subject-icon icomoon icomoon-file-text2"></span>
			</div>
		</div>
	</div>
	<div class="mdl-cell mdl-cell--4-col">
		<h1>Pending Enrollments</h1>
		<div class="session-card mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title mdl-card--expand">
				<h4>
					Session Date
					<br>
					<small>Session Time</small>
				</h4>
			</div>
			<div class="mdl-card__supporting-text">
				Session Description Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Mauris sagittis pellentesque lacus eleifend lacinia...
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
					Accept
				</button>
				<button class="mdl-button mdl-button--secondary mdl-js-button mdl-js-ripple-effect">
					Deny
				</button>
				<div class="mdl-layout-spacer"></div>
				<span class="subject-icon icomoon icomoon-calculator"></span>
			</div>
		</div>
		<div class="session-card mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title mdl-card--expand">
				<h4>
					Session Date
					<br>
					<small>Session Time</small>
				</h4>
			</div>
			<div class="mdl-card__supporting-text">
				Session Description Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Mauris sagittis pellentesque lacus eleifend lacinia...
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<button class="mdl-button mdl-js-button" disabled>
					Enrollment is pending...
				</button>
				<div class="mdl-layout-spacer"></div>
				<span class="subject-icon icomoon icomoon-history"></span>
			</div>
		</div>
	</div>
</div>
