<div class="selected-users" *ngIf="selectedUsers">
  <app-display-user *ngFor="let user of selectedUsers" [user]="user"></app-display-user>
</div>

<input type="text" [ngModel]="searchStr" (ngModelChange)="onSearchKeyup($event)" (keyup.Enter)="addUser(0)">
<button type="button">Add</button>

<div class="drop-down">
  <div class="drop-down-items" *ngFor="let user of userResults; let i = index" (click)="addUser(i)">
    <app-display-user [user]="user" *ngIf="!containsUser(user, selectedUsers)"></app-display-user>
  </div>
</div>
