<div class="user-select-container">
  <div class="selected-users" *ngIf="selectedUsers">
    <app-user-chip *ngFor="let user of selectedUsers; let i = index" [user]="user" [removable]="true" (onRemove)="removeUser(i)"></app-user-chip>
  </div>

  <div class="search-input">
    <div class="mdl-textfield mdl-js-textfield">
      <input id="user-search" class="mdl-textfield__input" type="text" [ngModel]="searchStr" (ngModelChange)="onSearchKeyup($event)" (keyup.backspace)="hitBackspace()" [disabled]="disabled">
      <label class="mdl-textfield__label" for="user-search">Type Username</label>
    </div>

    <ul class="drop-down mdl-shadow--4dp">
      <li class="drop-down-items" *ngFor="let user of userResults; let i = index" (click)="addUser($event, i)" [hidden]="containsUser(user, selectedUsers)">
        <app-user-chip [user]="user"></app-user-chip>
      </li>
    </ul>
  </div>
</div>
